page-user-credit {
    .error {
        color: red;
        text-align: center;
        margin-left: 20px;
        font-size: 10px;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    p{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    ion-input input{
        text-align: center;
        margin-top: 0%;
    }

    .credit-response{
        background-color: aquamarine;
        border-radius: 8%;
        padding: 5%;
    }

    .image{
        width: 120px;
        height: 65px;
        background: #fff;
        display: block;
        margin: 0 auto;
    }
    
}
